---
import Base from '../layouts/Base.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ProjectGrid from '../components/ProjectGrid.astro';
import { getCollection, getEntry } from 'astro:content';

const allProjects = await getCollection('projects', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
---

<Base>
  <main class="constrained">
    <h1>Local developer uses news experience to tell stories with code</h1>
    <p>
      <em>UNITED STATES</em> — A web developer who recently earned his degree in computer science has more to offer than
      technical know-how — he brings years of journalism experience to make code tell stories.
    </p>
    <p>
      Jeff Caldwell spent years honing his communication skills as a journalist. He spent his days in the newsroom
      chasing down leads and crafting stories, but that's not all, he went to school for computer science at the same
      time. He says this mixture of code and communication allows him to bring a different kind of insight into the
      world of bits and bytes.
    </p>
    <p>
      "I think creating applications and telling stories share a lot in common," said Caldwell. "Whether you're making
      something for a user or a reader, you need to present the right information so they understand what's happening."
    </p>
  </main>

  <style>
    #intro {
      container-name: intro;
      container-type: inline-size;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--space-m);
      /* height: 100%; */
    }
    h1 {
      font-size: var(--step-5);
      letter-spacing: 0.125em;
      text-transform: uppercase;
      border-bottom: 3px solid var(--foreground);
      padding-bottom: var(--space-xs);
    }
    h2 {
      letter-spacing: 0.025em;
      max-width: 30ch;
      line-height: 1.4;
    }
  </style>
</Base>
