---
import '../style/main.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Jeff Caldwell</title>
  </head>
  <body>
    <h1>Jeff Caldwell</h1>
    <h2>Software Developer</h2>
    <p>
      <a href="https://github.com/jeff-caldwell">GitHub</a> | <a href="https://www.linkedin.com/in/jeff-caldwell/"
        >LinkedIn</a
      > | <a href="mailto:jeff@jeffcaldwell.is">Email</a>
      <p>
        I'm a skilled software developer pivoting into tech after 5+ years as a journalist. I recently earned a BSc in
        Computer Science to complement my experience supervising teams and communicating across domains. I'm passionate
        about front-end development with JavaScript, HTML, and CSS, and I offer cross-functional experience managing
        teams, writing cleanly and concisely, synthesizing research, and the capacity to quickly learn new programming
        languages and frameworks. I'm eager to join a collaborative software team and contribute to user-focused
        projects.
      </p>
      <input type="text" name="whatever" id="whatever" />
    </p>
  </body>
</html>
