---
import Base from '../layouts/Base.astro';
import UMLCard from '../components/UMLCard.astro';

const jeffProps = {
  name: 'Jeff Caldwell',
  title: 'Web Developer',
  specialties: ['Frontend', 'Svelte', 'React'],
  languages: ['JavaScript', 'HTML', 'CSS', 'Python', 'Java', 'C++'],
  skills: ['Communication', 'Problem Solving', 'Collaboration'],
  education: 'B.S. Computer Science',
  location: 'San Angelo, TX',
  email: 'jeff@jeffcaldwell.dev',
};
---

<Base>
  <section class="intro">
    <UMLCard title="Jeff" abstractkey="WebDeveloper" properties={jeffProps} />
    <div class="section-content flex row center">
      <img src="/images/vintagepc_5.png" alt="A vintage pc" class="intro-image" />
    </div>
  </section>
</Base>

<style>
  .intro {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
    justify-items: center;
  }

  .section-content {
    padding: 2rem;
    border: 1px solid var(--foreground);
    border-radius: 2em;
  }

  .intro-image {
    width: clamp(150px, 50%, 300px);
    height: auto;
  }
</style>
