---
import Logo from './Logo.astro';
const { current } = Astro.props;
const currentDate = new Date(Date.now());
const dateString = currentDate.toLocaleDateString('en-US', {
  weekday: 'long',
  month: 'long',
  year: 'numeric',
  day: 'numeric',
});
---

<header class="constrained">
  <div class="header-inner masthead">
    <div class="masthead-section title-section">
      <a href="/">Jeff Caldwell</a>
    </div>
    <Logo />
    <div class="masthead-section menu-section">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header-inner" id="page-meta">
    <time>{dateString}</time>
    <span class="bold">Price $1.00</span>
  </div>
</header>

<style>
  header {
    container-name: header;
    container-type: inline-size: ;;
    text-transform: uppercase;
  }
  .header-inner {
    background: transparent;
  }

  .masthead {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-size: var(--step--1);
    font-family: var(--display);
    font-weight: 500;
    color: var(--foreground);
    letter-spacing: 0.125em;
    padding-block: var(--space-3xs);

    & a {
      text-decoration: none;
    }
  }

  .masthead-section {
    border-top: 1px solid var(--foreground);
    border-bottom: 1px solid var(--foreground);
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 2cqi;
    list-style: none;
    margin: 0;
    padding: 0;

    & li a {
      text-decoration: none;
      color: var(--foreground);
      font-family: var(--sans);
      letter-spacing: 0.125em;
      font-size: var(--step--1);
    }

    & li a:hover {
      color: var(--accent);
    }
  }

  #page-meta {
    font-size: var(--step--2);
    padding: var(--space-3xs);

    & address {
      font-weight: 400;
      font-style: normal;
    }
  }

  @media (max-width: 768px) {
    .masthead {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
    }

    .masthead-section {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .logo {
      order: 1;
      padding: var(--space-m);
    }

    .title-section {
      order: 2;
      border-bottom: none;
    }

    .menu-section {
      order: 3;
    }

  }
</style>
