---
const { current } = Astro.props;
const currentDate = new Date(Date.now());
const dateString = currentDate.toLocaleDateString('en-US', {
  weekday: 'long',
  month: 'long',
  year: 'numeric',
  day: 'numeric',
});
---

<header class="constrained">
  <div class="header-inner masthead">
    <a href="/">Jeff Caldwell</a>
    <div class="logo">
      <div class="logo-inner"></div>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-inner" id="page-meta">
    <time>{dateString}</time>
    <span class="bold">Price $1.00</span>
  </div>
</header>

<style>
  header {
    margin-block: var(--space-l);
    text-transform: uppercase;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
  }

  .masthead {
    border-top: 1px solid var(--foreground);
    border-bottom: 1px solid var(--foreground);
    font-size: var(--step--1);
    font-family: var(--display);
    font-weight: 500;
    color: var(--foreground);
    letter-spacing: 0.125em;
    padding-block: var(--space-3xs);
    position: relative;

    & a {
      text-decoration: none;
    }
  }

  .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  .logo-inner {
    border: 1px solid var(--foreground);
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  nav ul {
    display: flex;
    gap: clamp(1rem, 5vw, 2rem);
    list-style: none;
    margin: 0;
    padding: 0;
    /* font-weight: 600; */

    & li a {
      text-decoration: none;
      color: var(--foreground);
      font-family: var(--sans);
      letter-spacing: 0.125em;
      font-size: var(--step--1);
    }

    & li a:hover {
      color: var(--accent);
    }
  }

  #page-meta {
    font-size: var(--step--2);
    padding: var(--space-3xs);

    & address {
      font-weight: 400;
      font-style: normal;
    }
  }
</style>
