---
const { title, abstractkey, properties, methods } = Astro.props;
console.log(properties);
---

<section class="uml-card">
  <header class="flex justify-between align-baseline">
    <h2>{title}
    {() => (abstractkey ? <span>&lt;{abstractkey}&gt;</span> : null)}
  </h2>
  </header>
  <div class="flex">
    <ul class="uml-list">
      {() => Object
              .entries(properties)
              .map((prop) => <li>{prop[0]}: {Array.isArray(prop[1]) ? '[' + prop[1].map(p => (p)) + ']' : prop[1]}</li>)}
      <!-- {() => methods.map(method => <li>{method}</li>)} -->
    </ul>
  </div>
</div>


<style>
  .uml-card {
    font-family: 'Roboto Mono', monospace;
    border: 1px solid var(--foreground);
    border-radius: 1em;

    header {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid var(--foreground);
    }
  }

  .uml-list {
    list-style: none;
    padding: 0.5rem 1rem;
    margin: 0;
    line-height: 1.5rem;
    font-family: 'Roboto Mono', monospace;
  }

  .uml-list li::marker {
    content: '+';
  }
</style>