:root {
  /* Spacing */
  --layout-spacing: clamp(2rem, 5vw, 4rem);
  --layout-padding: clamp(1rem, 2.5vw, 4rem);

  /* Fonts */
  --sans: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  --step-0: 1rem;
  --step-1: 1.25rem;
  --step-2: 1.56rem;
  --step-3: 1.95rem;
  --step-4: 2.43rem;
  --step-5: 3.04rem;
  --step-6: 3.8rem;
  --step-7: 4.75rem;
  --step-8: 5.94rem;

  /* Colors */
  --primary: hsl(252, 23%, 9%);
  --primary-darker: hsl(252, 23%, 3%);
  --secondary: hsl(283, 7%, 47%);
  --tertiary: hsl(257, 15%, 88%);
  --light: hsl(270, 100%, 99%);
  --accent: hsl(0, 100%, 71%);
  --accent-alt: hsl(0, 100%, 90%);
  --accent-light-scheme: hsl(0, 100%, 66%);

  --background: var(--primary);
  --foreground: var(--light);
  --link: var(--accent);

  /* Borders and Outlines */
  --outline-width: 2px;
  --outline-style: solid;
  --outline-color: var(--color-primary);

  /* Transitions */
  --transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--foreground);
}

body {
  font-family: var(--sans);
  font-size: var(--step-0);
  font-weight: 400;
}

header,
footer {
  /* margin: clamp(1rem, 2.5vw, 4rem); */
  /* width: clamp(20rem, 90vw, 80rem);
  margin: 0 auto; */
  padding: clamp(1rem, 2.5vw, 3rem);
  /* padding: clamp(2rem, 5vw, 3rem); */
}

main {
  /* padding-block: var(--layout-spacing); */
}

.constrained {
  width: clamp(20rem, 90vw, 80rem);
  margin: 0 auto;
}

p,
blockquote,
ul,
ol,
dl,
table,
pre {
  line-height: 1.5;
  max-width: 35em;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-family: 'CothamSans';
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

blockquote {
  border-left: 0.25em solid var(--accent);
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  font-style: italic;
  font-size: var(--step-1);
}

a:not([class]) {
  color: currentColor;
  text-decoration: underline;
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: auto;
  transition: color var(--transition);

  &:hover {
    color: var(--link);
  }
}

/* Utility Classes */
.accent {
  color: var(--accent);
}

.accent--alt {
  color: var(--accent--alt);
}

.accent-light-scheme {
  color: var(--accent-light-scheme);
}

.primary {
  color: var(--primary);
}

.primary-darker {
  color: var(--primary-darker);
}

.secondary {
  color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}

/* Flexbox */
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.grid {
  display: grid;
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Media Queries */

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary);
    --foreground: var(--light);
    --link: var(--accent);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--light);
    --foreground: var(--primary);
    --link: var(--accent-light-scheme);
  }
}